body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

*, *::before, *::after {
    box-sizing: border-box;
    overflow: auto;
}

h1{
    color: red;
}

.hero-section {
    width: 100%;
    height: 90%;
    background-color: yellow;
}

.hero-title {
    background-color: green;
}
